<div class="row">
<h1>RunTime</h1>
</div>

<div class="row">
  <h2> About </h2>
  <div class="col-md-12">
    <div class="well">
      <p>RunTime is a simple app for estimating your race times, based on your previous times and the times of other similar runners.</p>
      <p>All stats are anonymous but used to give an accurate estimate of your time.</p>

      <p>Racetimer is lovingly hand-crafted in artisinal style by <a href="https://twitter.com/charlieegan3">Charlie Egan</a> and part-time keyboard wizard and computer-whisperer <a href="https://twitter.com/IllegalCactus">Dylan Hanning</a> using nothing but their bare hands and the finest eco-friendly organic locally-sourced indie coffee.
      </p>

      <%= image_tag("hyperspace.jpg", height:380, width: 380, class: "center-block") %> </br>
      <%= image_tag("rails-rumble-badge-2014.png", class: "center-block") %>
    </div>
  </div>

</div>

<a href="/" class="btn btn-success">Back</a>
