
<div class="col-md-12">
  <h1> Hi, welcome to run-time.</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
    <h2> Something </h2>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
    <h2> Something </h2>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="well">
      <h2> Enter your query:</h2>
        <div class="well well-sm">
          <p>Please enter at least 2 runs, cheers!</p>
        </div>
        <%= render('queryform') %>
        <button id="addrun" class="btn btn-sm btn-info">Add another run</button>
    </div>
  </div>

  <div class="col-md-4">
  </div>

</div>
