
<div class="col-md-12">
  <h1> Hi, welcome to run-time.</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
    <h2> Something </h2>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
    <h2> Something </h2>
    </div>
  </div>

  <div class="col-md-12">
    <div class="well">
      <h2> Enter your query (IN KILOMETRES DUMB AMERICANS) :</h2>
        <%= render('queryform') %>
    </div>
  </div>
</div>
