<h1> Your query: </h1>

<h3><span class="label label-info"><%= params['run'].length %> runs.</span></h3>

<div class="well well-sm">
<%= @estimate %>
</div>

<%= link_to("Back", "/", class: "btn btn-sm btn-success") %>
